@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #000;
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}

a {
	color: #4f7f90;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #39545e;
}

section {
	padding: 1em;
	text-align: center;
}

/* Header */
.codrops-header {
	margin: 0 auto;
	padding: 3em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 800;
	font-size: 4em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding-left: 15%;
	padding-right: 15%;
	font-size: 45%;
	font-weight: 300;
	color: #7e959d;
}

/* To Navigation Style */
.top-nav-back{
	position: fixed; 
	width: 10%;

	top: 0; 
	left: 0;
}
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Related demos */
.related {
	padding: 6em 1em;
	font-size: 120%;
}

.related > a {
	border: 1px solid #4f7f90;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a:hover {
	border-color: #39545e;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: center;
}

/*****************************************/

.parallax1 {
	background: url("../images/parallax1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 50px 0;

	display: flex;
	justify-content: center; /* Horizontally center */
	align-items: center; /* Vertically center (optional) */
}
.parallax_inner {
	width: 40%;

	text-align: center;
	background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
	border-radius: 15px; 
	padding: 10px; 
}

.parallax2 {
	background: url("../images/parallax2.jpg");
	background-size: 100% auto;
  	background-repeat: no-repeat;
  	background-position: center;
    /*background-attachment: fixed;*/

	padding: 160px 0;
}

.parallax3 {
	background: url("../images/parallax3.jpg");
	background-size: 100% auto;
  	background-repeat: no-repeat;
  	background-position: center;
	padding: 180px 0;
}

.parallax4 {
	background: url("../images/parallax4.jpg");
	background-size: 100% auto;
  	background-repeat: no-repeat;
  	background-position: center;
    background-attachment: fixed;
	padding: 180px 0;
}

.maintext {
/*border: 1px solid white;*/
	
	/*direction: rtl;*/
	text-align: center;
	width: 60%;
	left: 20%;
	margin: 0 auto;
	padding: 2em 1em;
}

.yt-container {
/*border: 1px solid white;*/
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 2em 0;
}
.yt-container iframe {
	width: 560px;
	height: 315px;
}

.img-links {
	display: flex;
	justify-content: center;
	gap: 40px; /* Space between images */
}

@media screen and (max-width: 415px) {
	.codrops-header {
		font-size: 50%;
	}
	.codrops-icon span {
		display: none;
	}
	h3 {
		font-size: 90%;
	}
	.parallax1, .parallax2 {
		/*background-size: contain;*/
		padding: 120px 0;
	}
	.parallax_inner {
		width: 60%;
	}
	.yt-container iframe {
		width: 360px;
		height: 203px;
	}
}